{% extends 'base_layout_ads.html' %}

{% block content %}
    {% if user.is_authenticated%}
        {% if user.is_staff %}
        <ul>
          <a href="edit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Update</a>
          <a href="delete" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Delete</a>
        </ul>
        {% endif %}
    {% endif %}

    <div class="article-detail">
        <h2>{{ article.title }}</h2>
        <img width="100%" height="100%" class="article-image" src="{{ article.thumb.url }}"/>

            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_email"></a>
            <a class="a2a_button_linkedin"></a>
            <a class="a2a_button_whatsapp"></a>
            <a class="a2a_button_telegram"></a>
            <a class="a2a_button_pinterest"></a>
            <a class="a2a_button_skype"></a>
            <a class="a2a_button_sms"></a>
            <a class="a2a_button_google_gmail"></a>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
            <!-- AddToAny END -->

        <div class="article content-markdown">
            <p>{{ article.body }}</p>
        </div>
            <p>-{{ article.author }}, {{ article.date }}</p>

    </div>
{% endblock %}
